@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
  background-color: #7D80F4;
  color: white;
}

.btn {
  font-size: 18;
  color: white;
  background-color: #7D80F4;
  padding: 12 24;
  border-radius: 8;
  text-align: center;
}

.btn:active {
  background-color: #4b8ac8;
}
